<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap" rel="stylesheet">

#container {position: relative; width: 100%; overflow: hidden;}
.section {position: relative; width: 1080px; margin: 80px auto; } 
.section1 {position: relative; width: 1280px; margin: 80px auto; } 
.section2 {position: relative; width: 1080px; margin: 0 auto; } 

#header img {width: 100%;}

#title {z-index: 99; display: block; position: relative;
					margin: 0 auto;width: 630px; height: 280px; bottom: 400px;}
#title img{width: 100%;}

#main img {width: 100%;}

.main-text {font-family: 'Noto Sans KR', sans-serif;font-weight: 100; text-align: center; color: white;}
.main-text p {z-index: 99; display: block; position: relative;
					margin: 0 auto;bottom: 520px;}

.sub-text {font-family: 'Noto Sans KR', sans-serif;font-weight: 100; text-align: center; color: white;}
.sub-text p {z-index: 99; display: block; position: relative;
					margin: 0 auto;bottom: 300px;}

.soundtrack {margin-left: 590px; margin-bottom: 50px;}
.soundtrack img{width: 45%;}

.character {margin-left: 590px; margin-top: 300px;}
.character img{width: 45%;}


.item {width:360px; float: left; margin-bottom: 30px; margin-top: 30px; position: relative; z-index: 99;}
.item img {width:100%; border-radius: 300px;}
.item img:hover {transform: scale(1.15); transition: 1s; }


.text {padding: 20px; color: white; text-align: center; }
.text h2 {font-size: 23px; font-weight: 900; margin-bottom: 5px; color: red;}
.text p {font-size: 12px;}

.scene {margin-left: 690px; margin-bottom: 100px; float: left; margin-top: 300px;}
.scene img {width: 30%;}

.trailer {margin-left: 690px; margin-bottom: 90px; float: left; margin-top: 300px;}
.trailer img {width: 30%;}

.link {margin: 0 auto; width: 300px; display: flex; }
.link img{width: 100%; margin-top: 300px; margin-bottom: 150px; padding-left:10px;}


.slider {width:360px; display: flex; margin-bottom: 30px; margin-top: 30px; position: relative; z-index: 99;}
.slider img {width:100%; border-radius: 300px;}
.slider img:hover {transform: rotate(10deg); transition: 0.5s;}

.slider2 {width:360px; display: flex; margin-bottom: 30px; margin-top: 30px; position: relative; z-index: 99;}
.slider2 img {width:100%; border-radius: 300px;}
.slider2 img:hover {transform: rotate(10deg); transition: 0.5s;}

.slider3 {width:360px; display: flex; margin-bottom: 30px; margin-top: 30px; position: relative; z-index: 99;}
.slider3 img {width:100%; border-radius: 300px; margin: 0 auto;}
.slider3 img:hover {transform: rotate(10deg); transition: 0.5s;}

.slider4 {width:360px; display: flex; margin-bottom: 30px; margin-top: 30px; position: relative; z-index: 99;}
.slider4 img {width:100%; border-radius: 300px; margin: 0 auto;}
.slider4 img:hover {transform: rotate(10deg); transition: 0.5s;}

.slider5 {width:360px; display: flex; margin-bottom: 30px; margin-top: 30px; position: relative; z-index: 99;}
.slider5 img {width:100%; border-radius: 300px; margin: 0 auto;}
.slider5 img:hover {transform: rotate(10deg); transition: 0.5s;}
